[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
geopy = "*"
pyvirtualdisplay = "*"
selenium = "*"
pandas = "*"
beautifulsoup4 = "*"
wikipedia = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"

[dev-packages]

[requires]
python_version = "3.7"
